html 
    head 
        title Tareas 
    body 
        form(action="/users" method="POST")
            input(type="email" name="email" placeholder="CORREO")
            input(type="password" name="password" placeholder="Contraseña")
            input(type="submit", name="",value="Crear Cuenta")